# Don’t commit the following files or directories created by pub.
.packages
.pub/
.dart_tool/
build/
packages/

# according to https://www.dartlang.org/tools/pub/package-layout.html
# pubspec.lock is not included if not application package
# remove this line if your package is an application package
pubspec.lock

# Files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# Don't commit python bytecode files in the tools/ directory.
*pyc

# Created by https://www.gitignore.io/api/cmake
# Edit at https://www.gitignore.io/?templates=cmake

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

# End of https://www.gitignore.io/api/cmake
build/
cmake-build-*